body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.margin {
    margin-left: 8px;
}

.img1 {
    margin-left: 8px;
}

.display {
    padding: 12px;
    background-color: burlywood;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    justify-content: center;
}

button {
    border-radius: 32px;
    border: 0px;
    padding: 12px;
    font-size: 24px;
    color: whitesmoke;
    background-color: burlywood;
}

button:hover{
    cursor: pointer;
    background-color: rgb(216, 169, 108);
}

.titulo {
    color: whitesmoke;
    font-size: 40px;
    margin-left: 32px;
    margin-top: 36px;
    width: 24%;
}

.primeiro {
    width: 13%;
    border-radius: 12px;
    padding: 4px;
    color: burlywood;
    justify-content: left;
    height: 50%;
    background-color: white;
    line-height: 28px;
    margin-bottom: 10px;
}

#hidden {
    display: none;
}

.centro {
    width: 100%;
    justify-content: center;
    display: flex;
}

a {
    color: burlywood;
    text-decoration: none;
    border-radius: 8px;
    padding: 2px;
}

#um:hover {
    text-decoration: none;
    background-color: burlywood;
    color: whitesmoke;
}

.dois:hover {
    background-color: burlywood;
}

.tres:hover {
    background-color: burlywood;
}

.primeiro:hover #hidden {
    display: flex;
    flex-direction: column;
}