body {
    overflow-y: hidden;
}

input {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 8px;
}

.flex {
    width: 2200px;
    display: flex;
    flex-direction: row;
}

#NS {
    margin-top: 36px;
}

.divImg {
    width: 100%;
}

@keyframes imagem {
    0% {
        width: 350px;
        height: 350px;
    }

    50% {
        width: 250px;
        height: 250px;
    }

    100% {
        width: 350px;
        height: 350px;
    }
}

.imagem {
    position: sticky;
    margin-left: 18%;
    margin-top: 3%;
    width: 350px;
    animation-name: imagem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.media {
    margin-top: 0px;
}