@model MVC3.Models.Local

<h1>Consultar local</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Id" class="form-label">Insira o ID que deseja consultar:</label>
                <input asp-for="Id" class="form-control"></input>
            </div>

            <button asp-action="Details" class="btn btn-primary mt-3" type="submit">Consultar</button>
        </form>
    </div>
</div>