@model MVC3.Models.Compromisso

<div>
    <h1>Deletar o compromisso</h1>
    <p>Tem certeza que deseja deletar esse compromisso?</p>

    <div class="d-flex">
        <form asp-action="Delete" class="d-flex">
            <button asp-action="Delete" class="btn btn-danger">Sim</button>
        </form>
        <form asp-action="Compromisso" class="d-flex ms-3">
            <button asp-action="Compromisso" class="btn btn-success">Não</button>
        </form>
    </div>
</div>