@model Entity2.Models.Compromisso

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Compromisso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Informe a descrição do compromisso:</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContatoId" class="control-label">Escolha o contato convidado:</label>
                <select asp-for="ContatoId" asp-items="@ViewBag.contatos" class="form-control"></select>
                <span asp-validation-for="ContatoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalId" class="control-label">Escolha o local do compromisso:</label>
                <select asp-for="LocalId" asp-items="@ViewBag.locais" class="form-control"></select>
                <span asp-validation-for="LocalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label">Escolha o dia do compromisso:</label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
