@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Início</h1>
    <p>Esse projeto em MVC é um CRUD de contatos, locais e compromissos, com a página compromissos podendo receber os locais e contatos adicionados em suas respectivas páginas.</p>
</div>