@model MVC3.Models.Contato

<div>
    <h1>Deletar o contato</h1>
    <p>Tem certeza que deseja deletar esse contato?</p>

    <div class="d-flex">
        <form asp-action="Delete" class="d-flex">
            <button asp-action="Delete" class="btn btn-danger">Sim</button>
        </form>
        <form asp-action="Contato" class="d-flex ms-3">
            <button asp-action="Contato" class="btn btn-success">Não</button>
        </form>
    </div>
</div>